@import "reset";
@import "variable";

.section {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}


.clearfix::before, .clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.title-wrap {
    display: block;
    margin-bottom: 16px;

    h2 {
        font-size: 18px;
        font-weight: 400;
        float: left;
    }

    .icon-question {
        display: block;
        width: 13px;
        height: 13px;
        color: #fff;
        background: #999;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 3px 8px 0;
        font-size: 12px;
        line-height: 13px;
        float: left;
        cursor: pointer;
    }

    .more {
        font-size: 12px;
        color: #2d85ca;
        float: right;
        margin-top: 4px;
    }
}

/******************************header************************************/
.header {
    position: relative;
    height: 70px;
}

.logo-box {
    display: block;
    width: 113px;
    margin-top: 15px;
    float: left;
}

.search-wrap {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -190px;
    width: 380px;
    height: 38px;
    background-color: #fff;

    .search-btn {
        display: block;
        width: 37px;
        height: 38px;
        background-color: transparent;
        background: url(../images/img-bg.png) no-repeat 9px 9px;
        border: 1px solid #e3e3e3;
        outline: none;
        float: left;
        cursor: pointer;

        &:hover {
            border: 1px solid $color-primary;
            background: $color-primary url(../images/img-bg.png) no-repeat 9px -19px;
        }
    }

}

.search-box {
    width: 378px;
    float: left;

    .search-input {
        display: block;
        width: 330px;
        height: 36px;
        line-height: 38px;
        padding-left: 10px;
        border: 1px solid #e3e3e3;
        border-right: none;
        outline: none;
        float: left;
    }

    .search-input:focus + .hot-search {
        display: none;
    }

    .search-input:focus ~ .search-btn {
        border: 1px solid $color-primary;
        background: $color-primary url(../images/img-bg.png) no-repeat 9px -19px;
    }

    .hot-search {
        position: absolute;
        top: 13px;
        right: 40px;
    }

    input:focus .search-box {
        .hot-search {
            color: red;
            a {
                padding: 2px 4px;
                margin: 0 4px;
                background-color: #f3f3f3;
                color: #858585;

                &:hover {
                    text-decoration: none;
                    color: #474747;
                    background-color: #dfdfdf;
                }
            }
        }
    }

    .hot-search {
        a {
            padding: 2px 4px;
            margin: 0 4px;
            background-color: #f3f3f3;
            color: #858585;

            &:hover {
                text-decoration: none;
                color: #474747;
                background-color: #dfdfdf;
            }
        }
    }
}

.user-box {
    margin-top: 30px;
    float: right;

    ul {
        float: left;

        li {
            padding: 0 12px;
            border-right: 1px solid $text-primary;
            float: left;

            &:last-child {
                border-right: none;
                padding-right: 0;
            }

            a {
                display: block;
                color: $text-primary;

                &:hover {
                    text-decoration: none;
                }

            }
        }
    }

    .message-box {
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        padding: 0 8px;
        background: url(../images/massage-icon2.gif) no-repeat;
        background-size: 15px 13px;
        float: left;

        &:after {
            position: absolute;
            top: 0;
            left: 30px;
            content: "";
            display: block;
            height: 12px;
            width: 1px;
            background-color: $text-primary;
        }
    }
}

/********************loading**************************/
.loading-wrap {
    position: relative;
    width: 100%;
    height: 2px;

    .loading-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #35b350, #2c82c6);
    }
}

/********************nav*******************************/
.nav-wrap {
    width: 100%;
    height: 42px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);

    .nav {
        float: left;

        li {
            width: 120px;
            text-align: center;
            float: left;

            &:first-child {
                width: auto;
                margin-right: 20px;
            }

            a {
                display: block;
                font-size: 14px;
                line-height: 42px;
                color: $text-primary;

                &:hover {
                    color: $color-primary;
                    text-decoration: none;
                }
            }

        }
    }
}

.nav-panel {
    position: absolute;
    top: 42px;
    left: 0;
    display: none;
    border: 1px solid #e8e8e8;
    background: rgba(255, 255, 255, 0.97);
    width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.nav-wrap .nav-box {
    float: left;
}

.nav-wrap .nav-box:hover .nav-panel {
    display: block;
    z-index: 2;
}

.nav-panel > ul {
    margin-left: 50px;
}

.nav-panel > ul > li {
    position: relative;
    width: 102px;
    padding: 10px 0 10px 15px;
    float: left;
    border-left: 1px solid #F7F7F7;
}

.nav-panel > ul > li:last-child {
    border-right: 1px solid #F7F7F7;
}

.nav-panel > ul > li:hover {
    background-color: #F7F7F7
}

.nav-panel > ul > li > ul > li a {
    display: block;
    padding: 10px 0;
}

.nav-panel a {
    color: $text-primary-light;

    &:hover {
        color: $color-primary;
        text-decoration: none;
    }
}

.nav-panel > ul > li:hover .triangle {
    display: block;
}

.nav-panel .triangle {
    position: absolute;
    top: -14px;
    left: 50px;
    display: none;
    width: 12px;
    height: 7px;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        border: 7px solid #e8e8e8;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }

    &:after {
        position: absolute;
        top: 2px;
        left: 1px;
        content: '';
        display: block;
        border: 6px solid #F7F7F7;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}

.nav-wrap .user-recommend {
    float: right;

    a {
        position: relative;
        display: inline-block;
        font-size: 12px;
        padding-top: 16px;
        color: $text-primary;
        margin-left: 36px;

        &:hover {
            color: $color-primary;
            text-decoration: none;
        }
    }

    .icon-vip {
        position: absolute;
        top: 14px;
        left: -26px;
        display: block;
        width: 21px;
        height: 14px;
        background: url(../images/img-bg.png) no-repeat 0 -121px;
    }

    .icon-editor {
        position: absolute;
        top: 14px;
        left: -20px;
        display: block;
        width: 16px;
        height: 16px;
        background: url(../images/img-bg.png) no-repeat 0 -93px;
    }

    .icon-appdownload {
        position: absolute;
        top: 14px;
        left: -20px;
        display: block;
        width: 16px;
        height: 16px;
        background: url(../images/img-bg.png) no-repeat 0 -65px;
    }

    .icon-new {
        position: absolute;
        top: 2px;
        right: -14px;
        display: block;
        width: 14px;
        height: 15px;
    }
}

/****************************overview*************************************/

.overview {
    margin: 10px auto 20px auto;
}

/*****左侧导航******/

.classify-nav {
    position: relative;
    float: left;
    border-top: 2px solid $color-primary;

    ul li {
        width: 208px;
        height: 36px;
        line-height: 36px;

        &:last-child {
            border-bottom: none;
        }

        &:hover .classify-list {
            display: block;
        }
    }

    a {
        display: block;
        padding: 0 20px;
        color: $text-primary;
    }
}

.classify-nav > ul > li > a {
    background: url(../images/icon-more.png) no-repeat 90% center;
    background-size: 6px 10px;
    font-size: 13px;
    border-bottom: 1px solid $color-border;
}

.classify-nav > ul > li > a:hover {
    color: $color-primary;
    text-decoration: none;
    background: #fff;
    padding-left: 25px;
}

.classify-nav ul li a:hover {
    color: $color-primary;
}

.classify-nav > ul > li {
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid #fff;
}

.classify-nav > ul > li:hover {
    border-left: 2px solid $color-primary;
    border-top: 1px solid $color-border;
    border-right: 1px solid #fff;
    margin-top: -1px;
    margin-left: -1px;
    background: #fff;
}

.classify-list {
    display: none;
    position: absolute;
    top: -3px;
    left: 210px;
    width: 400px;
    min-height: 352px;
    padding: 10px 10px 10px 0;
    background: #fff;
    border: 1px solid $color-border;
    border-left: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    z-index: 9;

    dl {
        overflow: hidden;

        dt {
            border-bottom: 1px solid #f5f5f5;
            margin-bottom: 6px;
            margin-left: 10px;

            a {
                padding: 0;
                font-size: 13px;
            }
        }

        dd {
            height: 16px;
            border-left: 1px solid #e0e0e0;
            margin-bottom: 12px;
            margin-left: -1px;
            float: left;

            a {
                font-size: 12px;
                padding: 0 10px;
                line-height: normal;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}

/*****中间轮播******/

.middle-wrap {
    float: left;
    margin-left: 10px;
}

.slider-banner {
    position: relative;
    width: 560px;
    height: 260px;
    overflow: hidden;
    background-color: #d9d9d9;

    .banner-wrap {
        position: absolute;
        top: 0;
        left: 0;

        .s-banner {
            display: block;
            font-size: 0;
            float: left;
        }
    }

    .slider-pagination {
        position: absolute;
        bottom: 20px;
        left: 0;
        text-align: center;
        width: 100%;

        li {
            display: inline-block;
            width: 32px;
            height: 2px;
            margin: 0 10px;
            background-color: #fff;
            cursor: pointer;
        }

        .active {
            background-color: $color-primary;
        }
    }
}

.slider-banner .arrow-left {
    position: absolute;
    top: 100px;
    left: 0;
    width: 50px;
    height: 50px;
    background: url(../images/banner-left.png) no-repeat 0 0;
    background-size: 50px 100px;
    cursor: pointer;
}

.slider-banner .arrow-right {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(../images/banner-right.png) no-repeat 0 0;
    background-size: 50px 100px;
    cursor: pointer;
}

.slider-banner .arrow-left:hover {
    background-position: 0 -50px;
}

.course-slider {
    position: relative;
    width: 558px;
    height: 98px;
    border: 1px solid #E2E2E2;
    margin-top: 11px;
    overflow: hidden;

    .course-wrap {
        position: absolute;
        top: 0;
        left: 0;

        a:hover {
            text-decoration: none;
        }

        .course-item {
            display: block;
            width: 186px;
            height: 98px;
            text-align: center;
            border-right: 1px solid #F5F5F5;
            float: left;

            img {
                margin: 8px 0;
            }

            .title {
                display: block;
                margin-bottom: 6px;
                color: $text-primary;
            }

            .description {
                display: block;
                color: $text-primary-light;
            }
        }
    }

    .course-arrow {
        position: absolute;
        top: 28px;
        width: 20px;
        height: 40px;
        background: url(../images/course-arrow.png) no-repeat;
        background-size: 40px 80px;
        cursor: pointer;
        opacity: 0;
    }

    .course-arrow-left {
        left: 0;
        background-position: 0 0;

        &:hover {
            background-position: 0 -40px;
        }
    }

    .course-arrow-right {
        right: 0;
        background-position: -20px 0;

        &:hover {
            background-position: -20px -40px;
        }
    }
}

.course-slider:hover .course-arrow {
    opacity: 1;
    transition: opacity 0.6s linear;
}

/********右侧综合**********/
.synthesis {
    width: 208px;
    float: left;
    border: 1px solid $color-border;
    height: 369px;
    overflow: hidden;
    margin-left: 10px;

    .news {
        padding: 12px;
        border-bottom: 1px solid $color-border;

        .title {
            display: block;
            margin: 2px 0 6px 0;
            color: $text-primary;
            font-size: 14px;
            font-weight: normal;
        }

        ul {
            height: 86px;

            li a {
                display: block;
                color: $text-primary-light;
                font-size: 12px;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 1.8;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}

.synthesis .news ul li.hot a {
    color: #FF0000;
}

.synthesis .userinfo {
    height: 86px;
    border-bottom: 1px solid $color-border;
    overflow: hidden;

    .avatar {
        width: 64px;
        margin-top: 10px;
        float: left;
        overflow: hidden;

        img {
            display: block;
            margin: 0 auto;
            width: 40px;
            height: 40px;
        }
    }

    .login-wrap {
        float: left;

        .hello {
            display: block;
            margin-top: 16px;

            p {
                padding: 2px 0;
                font-size: 12px;
                color: $text-primary-light;

                &:nth-child(2) {
                    color: $text-primary;
                }
            }
        }

        .btn-wrap {
            margin-top: 6px;

            a {
                display: block;
                float: left;
                width: 48px;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                color: #FFF;
                text-align: center;
            }

            .login-btn {
                margin-right: 10px;
                background: $color-secondary;
            }

            .register-btn {
                background: $color-primary;
            }

        }
    }
}

.synthesis .recommend ul li {
    float: left;
    display: block;
    color: #000;
    width: 52px;
    height: 76px;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    border-bottom: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    box-sizing: border-box;

    a:hover p {
        color: $color-primary;
    }

    .icon {
        display: block;
        width: 25px;
        height: 25px;
        margin: 12px auto 0;
        background-image: url(../images/recommend.png);
        background-size: 71px 232px;

        &.icon-question {
            background-position: -5px -3px;
        }

        &.icon-wiki {
            background-position: -5px -31px;
        }

        &.icon-lesson {
            background-position: -5px -59px;
        }

        &.icon-group {
            background-position: -5px -87px;
        }

        &.icon-download {
            background-position: -5px -117px;
        }

        &.icon-known {
            background-position: -5px -144px;
        }

        &.icon-occupation {
            background-position: -5px -173px;
        }

        &.icon-vip {
            background-position: -5px -202px;
        }

        &.icon-question {
            background-position: -41px -3px;
        }

        &.icon-wiki {
            background-position: -41px -31px;
        }

        &.icon-lesson {
            background-position: -41px -59px;
        }

        &.icon-group {
            background-position: -41px -87px;
        }

        &.icon-download {
            background-position: -41px -117px;
        }

        &.icon-known {
            background-position: -41px -144px;
        }

        &.icon-occupation {
            background-position: -41px -173px;
        }

        &.icon-vip {
            background-position: -41px -202px;
        }

    }
}

.synthesis .recommend ul li p {
    color: #000;
}

.synthesis .recommend .arrow-bottom {
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 6px solid $color-border;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

/*********热门课程***********/

.hot-lesson {
    margin-bottom: 20px;

    .tab-menu {
        ul {
            border-bottom: 1px solid #f5f5f5;

            li {
                width: 16.6%;
                float: left;
                text-align: center;
                font-size: 14px;
                color: $text-primary-light;
                padding: 10px 0;
                cursor: pointer;

                &.active {
                    position: relative;
                    border-bottom: 2px solid $color-primary;
                    color: $color-primary;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 22px;
                        left: 50%;
                        margin-left: -6px;
                        border-bottom: 6px solid $color-primary;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 6px solid transparent;
                    }
                }
            }
        }
    }

    .tab-content {
        margin-top: 20px;

        ul li {
            position: relative;
            width: 235px;
            height: 220px;
            margin: 0 20px 20px 0;
            float: left;

            &:nth-child(4n) {
                margin-right: 0;
            }

            &:hover .mask-play {
                opacity: 1;
                transition: opacity .3s linear;
            }
        }

        .lesson-thumb {
            display: block;
            position: relative;
            font-size: 0;
            cursor: pointer;

            img {
                max-width: 100%;
                height: 130px;
            }

            .mask-play {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .3);
                z-index: 100;
                opacity: 0;
                transition: .3s;

                span {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 50px;
                    height: 50px;
                    margin: -25px 0 0 -25px;
                    background: url(../images/player_icon.png) 0 0 no-repeat;
                    background-size: 50px 50px;
                    cursor: pointer;
                    z-index: 120;
                }
            }
        }

    }

}

.lesson-info {
    position: relative;
    padding: 10px;
    background: #fff;
    border: 1px solid $color-border;
    z-index: 200;

    h2 {
        height: 36px;
        margin-bottom: 12px;
    }

    .title {
        height: 36px;
        line-height: 18px;
        color: $text-primary;
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
    }

    p {
        height: 0;
        color: gray;
        font-size: 12px;
        line-height: 18px;
        overflow: hidden;
    }

    .state {
        color: #999;
        font-size: 12px;
        position: relative;

        .l-box {
            float: left;

            .clock-icon {
                display: block;
                width: 14px;
                height: 14px;
                margin-right: 8px;
                margin-top: -1px;
                background: url(../images/clock-icon.png) 0 0 no-repeat;
                background-size: 14px 14px;
                float: left;
            }

            .three-icon {
                display: block;
                width: 14px;
                height: 14px;
                margin-right: 8px;
                margin-top: -1px;
                background: url(../images/three-icon.png) 0 0 no-repeat;
                background-size: 14px 14px;
                float: left;
            }

            .r-box {
                float: right;
                text-align: right;

                .games-icon {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                    margin-top: -1px;
                    background: url(../images/games-icon.png) 0 0 no-repeat;
                    background-size: 16px 16px;
                }
            }

        }
    }

    p {
        transition: all .5s linear;
    }
}

.lesson-info .state .l-box .level, .lesson-info .state .r-box .study {
    display: none;

}

.lesson-info .state .l-box dl dd, .lesson-info .state .r-box dl dd {
    margin-bottom: 8px;
}

.hot-lesson .tab-content ul li:hover .lesson-info p {
    height: 52px;
    margin-bottom: 10px;
    transition: all .5s linear;
}

.hot-lesson .tab-content ul li:hover .lesson-info .state .l-box .level {
    display: block;
}

.hot-lesson .tab-content ul li:hover .lesson-info .state .r-box .study {
    display: block;
}

.hot-lesson .icon-free {
    position: absolute;
    right: 8px;
    top: -2px;
    display: block;
    height: 22px;
    width: 38px;
    background: url(../images/icon_small.png) -58px -43px no-repeat;
    z-index: 101;
}

/**********职业路径图**************/

.occupation {
    margin-bottom: 40px;

    .card-wrap .card-item {
        position: relative;
        display: block;
        width: 201px;
        height: 300px;
        text-align: center;
        margin-right: -1px;
        margin-top: -1px;
        float: left;
        border: 1px solid $color-border;
        box-sizing: border-box;
        z-index: 0;

        img {
            margin-bottom: 25px;
        }

        &:hover {
            border: 1px solid $color-primary;
            z-index: 1;

            .btn-now {
                background-color: $color-primary;
                color: #fff;
                transition: all .3s linear;
            }
        }

        h3 {
            height: 18px;
            font-size: 15px;
            font-weight: 400;
            color: $text-primary;
            margin-bottom: 20px;
            overflow: hidden;
        }

        p {
            font-size: 12px;
            color: $text-primary-light;
            line-height: 20px;
            height: 20px;
            width: 199px;
            overflow: hidden;
        }

        .btn-now {
            width: 140px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            margin-top: 20px;
            cursor: pointer;
            outline: 0;
            display: inline-block;
            color: $color-primary;
            font-size: 16px;
            background: #f3fff6;
            border: 1px solid $color-primary;
            transition: all .3s linear;
        }

    }
}

/*****************知识体系图**********************/
.knowledge {
    margin-bottom: 40px;
}

.knowledge-wrap {
    border: 1px solid $color-border;
    border-bottom: none;

    .knowledge-item {
        position: relative;
        display: block;
        width: 167px;
        height: 120px;
        border-right: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        background-color: #fff;
        float: left;

        &:nth-child(6n) {
            border-right: 0;
            width: 158px;
        }

        .front {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 15px 0;
            background-color: #fff;
            transform-style: preserve-3d;
            transition: .6s;
            -webkit-backface-visibility: hidden;
        }

        &:hover .front {
            transform: rotateY(180deg);
        }

        .front {
            text-align: center;
        }

        img {
            width: 40px;
            height: 40px;
            margin-bottom: 5px;
        }

        h3 {
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 400;
            color: $text-primary;
        }

        p {
            font-size: 14px;
            color: $color-primary;
        }

        .back {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            padding-top: 30px;
            text-align: center;
            transform: rotateY(-180deg);
            background-color: #f5f5f5;
            backface-visibility: hidden;
            transition: .6s;
            transform-style: preserve-3d;

            .title {
                display: block;
                font-size: 14px;
                color: $text-primary-light;
                margin-bottom: 10px;
                font-weight: 400;
            }

            .btn-now {
                display: inline-block;
                width: 140px;
                height: 36px;
                color: #fff;
                background: $color-primary;
                border: none;
                font-size: 16px;
                text-align: center;
                cursor: pointer;
            }
        }

        &:hover .back {
            transform: rotateY(0deg);
        }

    }
}

/************精品课程****************/
.boutique {
    margin-bottom: 40px;

    .lesson-wrap {

        .lesson-card {
            position: relative;
            width: 235px;
            height: 261px;
            padding: 16px;
            margin-right: 20px;
            font-size: 12px;
            border: 1px solid $color-border;
            box-sizing: border-box;
            transition: border-color .3s;
            float: left;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                border: 1px solid $color-primary;
            }

            h3 {
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 80%;
                margin-bottom: 15px;
                font-size: 14px;
                font-weight: 400;

            }

            img {
                display: block;
                width: 100%;
                height: 160px;
                margin-bottom: 15px;
            }

            .info {
                position: relative;
                z-index: 20;
                color: gray;
                line-height: 18px;
            }

            .other span {
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                margin-right: 6px;
            }

            .info .btn-collect {
                display: block;
                color: #fff;
                font-size: 12px;
                background: $color-primary;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0 16px;
                margin-right: 6px;
                border-radius: 3px;
                float: right;
            }

            .describe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                background: rgba(255, 255, 255, .9);
                opacity: 0;
                z-index: 10;
                transition: .3s;
            }

            &:hover .describe {
                opacity: 1;
                transition: .3s;
            }

            .describe {
                .picture img {
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    width: 50px;
                    height: 50px;
                    margin-left: -25px;
                    border-radius: 50%;
                    overflow: hidden;
                }

                .name {
                    display: block;
                    margin-top: 80px;
                }

                .text {
                    overflow: hidden;
                    position: absolute;
                    top: 100px;
                    left: 0;
                    width: 100%;
                    height: 40px;
                    padding: 0 16px;
                    text-align: left;
                    line-height: 20px;
                    word-wrap: break-word;
                    word-break: break-all;
                    box-sizing: border-box;
                }

                .btn-now {
                    position: absolute;
                    top: 164px;
                    left: 50%;
                    width: 100px;
                    height: 28px;
                    margin-left: -50px;
                    font-size: 14px;
                    background: $color-primary;
                    color: #fff;
                    line-height: 26px;
                    border-radius: 2px;
                }
            }

            .btn-now:hover {
                background: #66d178;
                color: #fff;
            }
        }
    }
}

/***************wiki*******************/

.wiki-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;

    .wiki-box {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 328px;
        float: left;
        padding: 15px;
        border: 1px solid $color-border;
        margin-left: -1px;

        &:hover {
            border-color: $color-primary;
            z-index: 10;
        }

        .icon-view {
            position: absolute;
            display: none;
            width: 40px;
            z-index: 10;
            right: -10px;
            top: -13px;
            background: url(../images/icon-view.png) center center no-repeat;
            background-size: 100% 100%;
            height: 20px;
        }

        h3 {
            font-size: 14px;
            font-weight: 400;
        }

        .wiki-content {
            margin-top: 10px;

            .img-box {
                position: relative;
                height: 200px;
                background-color: #999;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;

                &:hover img {
                    width: 136px;
                    transition: .6s;
                }

                &:hover .icon-view {
                    display: block;
                }

                img {
                    width: 142px;
                    height: 200px;
                    border-radius: 5px;
                    transition: .6s;
                }
            }

            a {
                display: block;
                width: 142px;
                height: 250px;
                float: left;

                &:first-child {
                    margin-right: 15px;
                }
            }

            .title {
                font-size: 13px;
                color: $text-primary;
                height: 13px;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                line-height: 13px;
                margin: 10px auto;
            }

            p {
                font-size: 12px;
                color: #999;
                text-align: center;
                display: block;
            }
        }
    }
}

.wiki-wrap .wiki-box .wiki-content a:hover .title, .wiki-wrap .wiki-box .wiki-content a:hover p {
    color: $color-primary;
}

.wiki-list {
    margin-top: 10px;

    li a {
        display: block;
        font-size: 12px;
        color: #999;
        line-height: 12px;
        margin-bottom: 8px;

        &:hover {
            color: $color-primary;
        }
    }

    span {
        float: right;
    }
}

/***************战略合作企业*******************/
.cooperative {
    margin-bottom: 40px;

    img {
        border: 1px solid $color-border;
    }
}

/****************合作院校*********************/

.university {
    margin-bottom: 40px;
    img {
        border: 1px solid $color-border;
    }
}

/****************媒体报道*********************/

.media {
    margin-bottom: 40px;
}

.media img {
    border: 1px solid $color-border;
}

/******************底部********************/

.footer .footer-nav {
    background: #fafafa;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    min-width: 1000px;
}

.footer dl {
    width: 185px;
    padding-left: 30px;
    color: gray;
    margin: 25px 0;
    float: left;
    border-left: 1px solid $color-border;
    min-height: 175px;
    box-sizing: border-box;
}

.footer dl dt {
    font-size: 14px;
    color: $text-primary-light;
    font-weight: 500;
}

.footer dl dd {
    font-size: 12px;
    margin-top: 12px;
}

.footer a {
    color: gray;
    padding-left: 5px;
}

.footer a:hover {
    color: $color-primary;
}

.footer .content {
    width: 245px;
    min-height: 226px;
    padding: 10px 0 0 10px;
    border-left: 1px solid $color-border;
    float: left;
}

.copyright {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
    font-size: 12px;
    color: #999;
}

/*******************************/

.fixed-box {
    position: fixed;
    left: 50%;
    bottom: 50px;
    width: 34px;
    text-align: center;
    margin-left: 510px;
    z-index: 2000;

    .jkxy-app {
        position: relative;
        display: block;
        width: 34px;
        height: 35px;
        background: #f7f7f7 url(../images/phone-1.png) center center no-repeat;
        background-size: 12px 24px;
        border-bottom: 1px solid #e0e0e0;

        .app-qrcode {
            position: absolute;
            top: -70px;
            left: -126px;
            display: none;
            width: 126px;
            height: 159px;
            background: url(../images/appewm.png) center center no-repeat;
            background-size: 100%;
            z-index: 2100;
        }
    }

    .wechart {
        display: block;
        width: 34px;
        height: 35px;
        background: #f7f7f7 url(../images/wechart.jpg) center center no-repeat;
        background-size: 100% 100%;
    }

    .kefu {
        display: block;
        width: 34px;
        height: 35px;
        background: #f7f7f7 url(../images/kfu.png) center center no-repeat;

        .kefu-time {
            position: absolute;
            left: -190px;
            display: none;
            width: 180px;
            padding: 5px;
            color: $text-primary;
            font-size: 12px;
            background: #f7f7f7;
            text-align: center;
        }
    }
}

.fixed-box .jkxy-app:hover .app-qrcode, .fixed-box .kefu:hover .kefu-time {
    display: block;
}

