/*变量存储*/
/*****color*******/
$color-primary: #e91409;
$color-master: #333;

/*****font*******/
$font-title: 86px;
$font-master: 14px;

/*****layout*******/
/*根据站点数量，计算每列宽度*/
$list-width: 100% / 20;






